body {
    overflow-x: hidden;	
    margin:0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    font-family: 'Lato', sans-serif;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
}

li a {
    display: block;
    color: #EBEBEB;
    text-align: center;
    margin: 15px 15px 5px 15px;
    text-decoration: none;
    line-height: 20px;
}


li a:hover {
    color: #FBFBFB;
}

.Navbar {
    border-bottom:1px solid #EBEBEB;
    padding-bottom:10px;
    left:0px;
    right:0px;
    top: 0px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    position: fixed;
}

.FirstCard {
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	/* background-color: #003E72;
	opacity: 0.95;*/ 
	background-image: url("nyc.jpg");
	height: 100%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.content {
	text-align: center;
	color: #F7F9F9;
}

#gapIssue {
	padding-top: 50px;
}

.about {
	background-color: #003554;
	text-align: center;
	color: #F7F9F9;
	padding-bottom: 50px;
}

.Skills {
	background-color: #0582CA;
}

.Portfolio {
	background-color: #43AADD;
	padding-bottom: 50px;
}
.NavRight {
	color: #EBEBEB;
	float: left;
    text-align: center;
    margin: 15px 15px 5px 15px;
    line-height: 20px;
}
#title {
	font-family: 'Lato', sans-serif;
	padding-top: 150px;
	font-size: 100px;
}

#description {
	font-family: titleFont, sans-serif;
	font-size: 50px;
	text-align: center;
}
#div-description {
	font-family: "LoveloBlack";
    	font-size: 39;
    	line-height: 45pt;
    	text-align: center;
}

#name {
	font-family: "LoveloBlack";
    	font-size: 39;
    	line-height: 45pt;
    	text-align: center;
}

#subtitle {
	font-family: "LoveloBlack";
    	font-size: 27pt;
    	line-height: 45pt;
    	text-align: center;
}



@font-face {
    font-family: titleFont;
    src: url('Lovelo_Black.otf') format('otf'),
}

.smoothScroll {
	
}
#about-descript{
	
	font-family: "Lato";
	font-size: 20pt;
	line-height: 40pt;
    	font-weight: 200;
    	margin-bottom: 30px;
    	color: #F7F9F9;
    	text-align: center;

}
#about-text{

	margin-left: 100px;
	margin-right:100px;
	margin-top: 100px;
	margin-bottom: 50px;
	text-align: center;
	
}

#abhinav-picture {

    background-image: url("circular.png");
    width: 260px;
    height: 260px;
    background-size: cover;
    background-position: center;
    border-radius: 200px;
    margin: auto;
    margin-bottom: 30px;

}

.Contact {
	/* background-color: #163357; */
	background-color: #0582CA;
	font-family: 'Roboto Slab', serif;
	color: #EBEBEB;
}

.social a:hover {
    color: #FBFBFB;
    text-decoration: none;
}

.social {
	color: white;
	text-align: center;
	text-decoration: none;
	font-size: 45px;
	display: inline-block;
    	width: 70px;
    	height: 70px;
    	margin: 10px;
    	float: none;
}

.PortfolioImages {
	text-align: center;
	font-size: 45px;
	display: inline-block;
    	width: 300px;
    	height: 300px;
    	margin: 15px;
    	float: none;
}

.ProjectDescription {
	text-align: center;
	font-size: 45px;
	display: inline-block;
    	margin: 60px;
    	float: none;
}

div.item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 300px;
    margin: 20px;
}
img {
    width: 300px;
    height: 300px;
}
.caption {
    display: block;
}

#fixwithpadding {
	padding-bottom: 35px;
}

.paddingtop {
	padding-top: 10px;
}

hr {
    max-width: 50px;
    border-color: white;
    border-width: 1px;
}

@media (max-width: 640px) 
{
    .Navbar
    {
        display: none;
    }
    
    #title {
	font-size: 75px;
	padding-top: 35px;
    }
    
    #name {
  	margin: -35px;
  	padding-bottom: 20px;
    }
    
    #subtitle {
	margin: -35px;
  	padding-top: 20px;
    }
    
    #about-descript {
    	margin: -35px;
  	padding-top: 20px;
    }
}

.about-buttons {
	background-color:#ebebeb;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	display:inline-block;
	cursor:pointer;
	color:#003554;
	font-family:Trebuchet MS;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 0px 0px #ebebeb;
	margin-right: 50px;
	margin-left: 50px;
}
.about-buttons:hover {
	background-color:#f7f9f9;
}
.about-buttons:active {
	position:relative;
	top:1px;
}

.cd-horizontal-timeline .events-content {
  position: relative;
}
.cd-horizontal-timeline .events-content li {
  position: absolute;
  z-index: 1;
  width: 100%;
  left: 0;
  top: 0;
  transform: translateX(-100%);
  opacity: 0;
  animation-duration: 0.4s;
  animation-timing-function: ease-in-out;
}
.cd-horizontal-timeline .events-content li.selected {
  /* visible event content */
  position: relative;
  z-index: 2;
  opacity: 1;
  transform: translateX(0);
}
.cd-horizontal-timeline .events-content li.enter-right, 
.cd-horizontal-timeline .events-content li.leave-right {
  animation-name: cd-enter-right;
}
.cd-horizontal-timeline .events-content li.enter-left, 
.cd-horizontal-timeline .events-content li.leave-left {
  animation-name: cd-enter-left;
}
.cd-horizontal-timeline .events-content li.leave-right, 
.cd-horizontal-timeline .events-content li.leave-left {
  animation-direction: reverse;
}
@keyframes cd-enter-right {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
@keyframes cd-enter-left {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
