body {
	margin:0;
	width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    font-family: 'Lato', sans-serif;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
}

li a {
    display: block;
    color: #EBEBEB;
    text-align: center;
    margin: 15px 15px 5px 15px;
    text-decoration: none;
    line-height: 20px;
}


li a:hover {
    color: #FBFBFB;
}

.Navbar {
	/*background-color: #003E72;*/
	border-bottom:1px solid #EBEBEB;
	padding-bottom:10px;
	left:0px;
	right:0px;
	top: 0px;
	text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    position: fixed;
}

.FirstCard {
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	/* background-color: #003E72;
	opacity: 0.95;*/ 
	background-image: url("nyc.jpg");
}

.content {
	text-align: center;
	color: #F7F9F9;
}

#gapIssue {
	padding-top: 50px;
}

.about {
	background-color: #003554;
	height: 150%;
	width: 100%;
	text-align: center;
	color: #F7F9F9;
}

.TimeLine {
	background-color: #0582CA;
	height: 75%;
	width: 100%;
}

.Portfolio {
	background-color: #43AADD;
	height: 100%;
	width: 100%;
}

.Contact {
	background-color: #163357;
	height: 40%;
	width: 100%;
}

.NavRight {
	color: #EBEBEB;
	float: left;
    text-align: center;
    margin: 15px 15px 5px 15px;
    line-height: 20px;
}
#title {
	font-family: 'Lato', sans-serif;
	padding-top: 150px;
	font-size: 100px;
}

#description {
	font-family: titleFont, sans-serif;
	font-size: 50px;
}
#div-description {
	font-family: "LoveloBlack";
    	font-size: 39pt;
    	line-height: 45pt;
}
#subtitle {
	font-family: "LoveloBlack";
    	font-size: 30pt;
    	line-height: 45pt;
}



@font-face {
    font-family: titleFont;
    src: url(C:\Users\Sruthi\Downloads\lovelo);
}

.smoothScroll {
	
}
#about-descript{
	
	font-family: "Lato";
	font-size: 20pt;
	line-height: 40pt;
    	font-weight: 200;
	text-indent: 2em;
    	margin-bottom: 30px;
    	text-indent: 0;
    	color: #F7F9F9;

}
#about-text{
	width: 800px;
	margin: 100px;
}

#abhinav-picture {

    background-image: url("circular.png");
    width: 250px;
    height: 250px;
    background-size: cover;
    background-position: center;
    border-radius: 200px;
    margin: auto;
    margin-bottom: 40px;

}



